{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<br>
<h1>About</h1>
<p class="justify-align">Welcome to Simple Investing - your go-to portfolio comparison tool designed with EU-based investors in mind. Created as the final project for the CS50 Course,
 this Flask app serves as both an educational resource and a demonstration of coding proficiency.</p>
<br>
<p class="justify-align">Simple Investing promotes low-cost, low-maintenance, long-term investing, inspired by the Boggleheads philosophy. At its core, the app features a dynamic
table that showcases the long-term returns of various ETF-based portfolios over 5, 10, 20, and 30-year periods. Powered by extended historical data, enriched
with corresponding indexes and simulations, this tool offers invaluable insights for strategic investment planning.</p>
<br>
    <h4>Exploring Portfolios:</h4> 
    <p class="justify-align">Navigate to the comparison table on the index page to explore different portfolio options. Each portfolio is meticulously curated with European ETFs,
    catering specifically to EU-based investors.</p>

    <h4>Digging Deeper:</h4>
    <p class="justify-align">Click on individual portfolios or ETFs to access detailed profiles, complete with additional information and official links.</p>

    <h4>Staying Informed:</h4>
    <p class="justify-align">Keep track of portfolio performance with our intuitive interface, powered by the Grid.js library for seamless sorting and scrolling.
        <a href="https://blog.miguelgrinberg.com/index">Miguel Grinberg blog</a> is a great resoure I used for Grid.js and Flask related topics.
    </p>
<h2>Process Explained</h4>
    <p class="justify-align">
        Once a month we fetch ETFs prices from multiple online sources to ensure accuracy and reliability, as we promote passive investments
        we decided monthly data is enough for our perpouse. ETFs prices are used to update the database that contais enhanced historical data
        with extended records, indexes, and simulations to provide comprehensive insights going 30 years back! Using database we compute 
        yields for ETFs and portfolios using the Compound Annual Growth Rate (<a href="https://www.investopedia.com/terms/c/cagr.asp">CAGR</a>) metric.
        Yields with some additional data are used to generate the Comparison Tool on the home page.
    </p>
<br>
<h2>Future Development</h2>
<p class="justify-align">Simple Investing is an evolving project with a roadmap for future enhancements, including more strategies, user profiles, and advanced features to empower
    investors in their financial journey.</p>
<ul class="left-align">
    <li>User Profiles: Enable users to store favorite strategies, receive alerts, and generate performance reports.</li>
    <li>Interactive Quiz: Develop a quiz game to match investor profiles with suitable portfolios based on user preferences.</li>
    <li>Global Equity Momentum (GEM): Integrate signals for a Global Equity Momentum strategy to enhance portfolio selection.</li>
    <li>Real Estate Investment: Expand the comparison tool to include real estate investment options for comprehensive planning.</li>
</ul> 

<h2>Energy Efficiency</h2>

<p class="justify-align">In alignment with sustainability goals, Simple Investing adopts a dark theme for its web pages to minimize energy consumption. By reducing the carbon footprint associated with digital activities, we contribute to a more eco-friendly online environment.
Conclusion</p>
{% endblock %}
