{% extends "layout.html" %}

{% block title %}
    Homepage - Comparison tool
{% endblock %}

{% block main %}
<!-- Your main content -->
<div id="portfolioTable"></div>

<!-- JavaScript code to render Grid.js table -->
<script type="module">
    import { Grid } from "https://unpkg.com/gridjs?module";

    new Grid({
              columns: [
                { id: 'name', name: 'Portfolio Name', width: '25%', sort: false },
                { id: 'assets', name: 'Assets', width: '13%' },
                {
                    id: 'returns',
                    name: 'Annual Yield (CAGR) for periods of:',
                    columns: [
                        {
                            id: 'return5',
                            name: '5 Years',
                            sort: true,
                            formatter: (cell) => {
                                return cell + '%';
                            }
                        },
                        {
                            id: 'return10',
                            name: '10 Years',
                            sort: true,
                            formatter: (cell) => {
                                return cell + '%';
                            }
                        },
                        {
                            id: 'return20',
                            name: '20 Years',
                            sort: true,
                            formatter: (cell) => {
                                return cell + '%';
                            }
                        },
                        {
                            id: 'return30',
                            name: '30 Years',
                            sort: true,
                            formatter: (cell) => {
                                return cell + '%';
                            }
                        },
                    ]
                }
            ],
            server: {
            url: '/api/data',
            then: data => {
                // Round numerical values for returns to two decimal points
                data.forEach(row => {
                  row.return5 = (row.return5);
                  row.return10 = (row.return10);
                  row.return20 = (row.return20);
                  row.return30 = (row.return30);
              });
                return data;
            }
        },
        fixedHeader: true,
        sort: true,
        style: {
          table: {
            border: '3px solid #ccc'
          },
          th: {
            'text-align': 'center',
            'font-size': '13px',
            whiteSpace: 'normal',
            padding: '2px',
            border: '3px solid #ccc'
          },
          td: {
            'text-align': 'center',
            'font-size': '13px'
          }
        }

    }).render(document.getElementById('portfolioTable'));
</script>
{% endblock %}

