{% extends "layout.html" %}

{% block title %}
    Portfolios
{% endblock %}

{% block main %}
<br><br>
<h1>Portfolios</h1>
<p class="justify-align">Portfolios listed on SimpleInvesting where chosen following these principles:</p>
    <ul class="left-align">
        <li>Make investing as easy and low maintance as possible, so..</li>
        <li>The less assets the better</li>
        <li>Favor accumulating ETFs</li>
        <li>Keep costs as low as possible</li>
    </ul> 

<br>
<h2 class="left-align">Global Technology</h2>
<p class="justify-align">Embraces the future of innovation with Global Technology portfolio. This portfolio focuses on leading
    technology companies worldwide, offering exposure to the latest advancements in the tech sector.
</p>

<h2 class="left-align">USA (S&P 500)</h2>
<p class="justify-align">The powerhouse of the global economy with USA portfolio, which tracks the S&P 500 index. 
    Benefits from the growth potential of top U.S. companies across various sectors.
</p>



<h2 class="left-align">All World</h2>
<p class="justify-align">Diversifies investments across the entire global market with All World portfolio. This diversified
    approach provides exposure to both developed and emerging markets, ensuring broad market coverage.
</p>

<h2 class="left-align">80-20 Stocks-Bonds</h2>
<p class="justify-align">Lowered volatility with bonds gives the right balance between growth and stability with 80-20 
    Stocks-Bonds portfolio. This portfolio allocates 80% to stocks for growth potential and 20% to bonds for added stability in varying market conditions.
    <sup>[1]</sup>
</p> 

<h2 class="left-align">60-40 Stocks-Bonds</h2>
<p class="justify-align">More bonds for even lower volatility - a balanced approach to investing with 60-40 Stocks-Bonds portfolio.
    With a 60% allocation to stocks and 40% to bonds, this portfolio aims to optimize returns while lowering risk.
    <sup>[1]</sup>
</p>

<h2 class="left-align">Gold</h2>
<p class="justify-align">Very old and well-known commodity. Gold has long been considered
    a safe-haven asset, offering stability and protection against economic uncertainties.
</p>
<br>
<p class="justify-align"><sup>[1] </sup><small>For the stocks we chose a Developed World sector (23 developed countries) and for bonds European Corporate Bonds
    (European - to avoid currency risk, Corporate to maximise investor's profits).</small>
</p>
<br>
{% endblock %}
